extends layout

block content
  .container
    .row 
      .col-xs-12
        each val in events
          if val 
            p= val.activity_startDate
            p= val.venue_ID
        else
          li There are no values
