extends layout

block content
  .container
    table.table.table-striped
      each val in events
        if val 
          tr
            td= val.activity_startDate + '  ' + val.activity_Time
            td= val.venue_Name
            td
              for orig_artist in val.orig_artists 
                p= orig_artist.name
    else
        li There are no values
