extends layout

block content
  .container
    each val in events
        if val 
          .row 
            .col
              p= val.activity_startDate + '  ' + val.activity_Time
            .col
              p= val.venue_Name
            .col
              for orig_artist in val.orig_artists 
                p= orig_artist.name
    else
        li There are no values
