extends layout

block content
  .container
    .row 
      .col-xs-12
        each venue, i in events
          p #{venue.name}
          each day, j in venue.events 
            each show, k in day
              p #{show.activity_startdate}
